<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background: cornflowerblue;
        }
    </style>
</head>
<body>
    <br>
    <h1 style="text-align: center; background: coral;">
    LOGIN
    </h1>
    <br>
    <form method="post">

        {{ form.hidden_tag() }}
        <div id="login" style="text-align: center; background-color: bisque;">
            <hr>
        USERNAME:
        {{form.username}}
        <br>
        PASSWORD:
        {{form.password}}
        <br>
    
        {{form.submit()}}
        <hr>
        </div>
    </form>
</body>
</html>